{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Giỏ hàng
{% endblock %}

{% block content %}
    <h1>Giỏ hàng</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Hình ảnh</th>
                <th>Sản phẩm</th>
                <th>Số lượng</th>
                <th>Xóa</th>
                <th>Đơn giá</th>
                <th>Giá</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                            </a>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>
                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.override }}
                                <input type="submit" value="Cập nhật">
                                {% csrf_token %}
                            </form>
                        </td>
                        <td>
                            <form action="{% url "cart:cart_remove" product.id %}" method="post">
                                <input type="submit" value="Xóa">
                                {% csrf_token %}
                            </form>
                        </td>
                        <td class="num">{{ item.price }}₫</td>
                        <td class="num">{{ item.total_price }}₫</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>Tổng tiền</td>
                <td colspan="4"></td>
                <td class="num">{{ cart.get_total_price }}₫</td>
            </tr>
        </tbody>
    </table>
<p class="text-right">
    <a href="{% url "shop:product_list" %}" class="button light">Tiếp tục mua hàng</a>
    {% if user.is_authenticated %}
        <a href="{% url "orders:order_create" %}" class="button">Đặt hàng</a>
    {% else %}
        <a href="{% url "accounts:login" %}" class="button">Đặt hàng</a>
    {% endif %}
</p>
{% endblock %}
