{% extends "shop\base.html" %}

{% load static %}

{% block content %}
    <div class="container"> 
        <div class="row">
            <div class="col-md-12">
                <h1>Orders</h1>
                {% for order in orders %}
                    <div id="order-infor">
                        <div style="float:left">Mã đơn hàng: {{ order.id }} | Ngày đặt hàng: {{ order.created }} </div>
                        <div style="float:right">Trạng thái: <span class="{{ order.status }}">{{ order.status }}</span></div>
                    </div>
                    <br><br>
                    <table>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                        </tr>
                        {% for orderitem in orderitems %}
                            {% if orderitem.order_id == order.id %}
                                <tr>
                                    <td>{{ orderitem.product.name }}</td>
                                    <td>{{ orderitem.product.price }}₫</td>
                                    <td>{{ orderitem.quantity }}</td>
                                    <td>{{ orderitem.get_cost }}₫</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr style="border-top: 1px solid #000;">
                            <td colspan="3"><strong>Tổng tiền</strong></td>
                            <td><strong>{{ order.get_total_cost }}₫</strong></td>
                        </tr>
                    </table>
                    <br><br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}