{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}My shop{% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <a href="/" class="logo">DTGame Shop</a>
            <div style="float: right">
                {% if user.is_authenticated %}
                    Xin chào <a href="{% url "accounts:orders" %}">{{ user.username }}</a> | <a href="{% url "logout" %}" class="login">Đăng xuất</a>
                {% else %}
                    <a href="{% url "accounts:login" %}">Đăng nhập</a> | <a href="{% url "accounts:signup" %}">Đăng ký</a>
                {% endif %}
            </div>
        </div>
        <div id="subheader">
            <div class="search">
                <form action=
                    "{% if category %}
                        {{ category.get_absolute_url }}
                    {% else %}
                        {{ shop.product_list }}
                    {% endif %}"
                method="get">
                    <input type="text" name="q" placeholder="Tên sản phẩm...">
                    <button type="submit" href="#">Tìm kiếm</button>
                </form>
            </div>
            <div class="cart">
                {% with total_items=cart|length %}
                    {% if total_items > 0 %}
                        Giỏ hàng:
                        <a href="{% url "cart:cart_detail" %}">
                            {{ total_items }} sản phẩm -
                            {{ cart.get_total_price }}₫
                        </a>
                    {% elif not order %}
                        Giỏ hàng trống.
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
